.media-uploader {

	@at-root {
		.media-uploader-head {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin-bottom: 24px;

			.title {
				@include font-size-h4;
				margin-bottom: 0;
			}
		}

		.media-uploader-loader {
			margin-top: 16px;

			.button {
				width: 100%;
			}
		}
	}
}
