.stat-report {

	@at-root {
		.stat-report-head {
			display: flex;
			margin-bottom: 32px;
		}

		.stat-report-heading {
			flex: 1 1 auto;
			font-weight: 300;
			margin-bottom: 0;
			margin-right: 16px;
		}

		.stat-report-filter {
			flex: 0 1 auto;
			padding-left: 8px;

			.input {
				min-width: 128px;
				width: 100%;
			}

			.button {

				&.is-toggling,
				&.is-toggled {
					background-color: $color-one-500;
				}
			}
		}

		.stat-report-advfilters {
			@include font-size-400;
			background-color: $color-200;
			border-radius: 4px;
			display: none;
			margin-bottom: 24px;
			margin-top: -16px;
			padding: 0 4px;

			&.is-toggling,
			&.is-toggled {
				display: flex !important;
			}
		}

		.stat-report-advfilter {
			flex: 1 1 50%;
			margin: 8px 4px;

			&.admin-table-filter-submit {
				max-width: 160px;
			}

			.input,
			.button {
				width: 100%;
			}
		}

		.stat-report-cards {
			display: flex;
			margin-bottom: 32px;
		}

		.stat-report-card {
			background-color: $white;
			border: 1px solid $color-border;
			border-radius: 4px;
			flex: 0 1 50%;
			overflow: hidden;

			& + & {
				margin-left: 24px;
			}

			.meta {
				padding: 20px 16px 16px;

				.row {
					margin-bottom: 0;
				}

				.label {
					@include font-size-h6;
					color: $color-text-light;
					font-weight: 700;
					margin-bottom: 4px;
					text-transform: uppercase;
				}

				.date {
					@include font-size-400;
					color: $color-text-light;
					margin-bottom: 8px;
				}

				.value {
					@include font-size-800;
					color: $color-text-dark;
					font-weight: 700;
				}
			}

			.summary {
				background-color: $color-100;
				padding: 8px 16px;

				&.summary-negative {
					background-color: $color-alert-200;

					.row {
						color: $color-alert-600;

						.icon {
							fill: $color-alert-400;
						}
					}
				}

				&.summary-positive {
					background-color: $color-success-200;

					.row {
						color: $color-success-600;

						.icon {
							fill: $color-success-400;
						}
					}
				}

				.row {
					@include font-size-300;

					.icon {
						fill: $color-text-lighter;
						height: 20px;
						width: 20px;
					}

					.value {
						font-weight: 700;
					}
				}
			}
		}

		.stat-report-charts {
			display: flex;

			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}

		.stat-report-chart {
			border: 1px solid $color-border;
			border-radius: 8px;
			flex: 0 1 50%;
			padding: 16px;

			& + & {
				margin-left: 24px;
			}

			.title {
				@include font-size-h6;
				color: $color-text-light;
				text-transform: uppercase;
			}
		}
	}
}
